@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


// Define base and theme colors
$themes: (
  'light': (
    'background': #ffffff,
    'text': #323232,
    'card': #f9f9f9
  ),
  'dark': (
    'background': #323232,
    'text': #ffffff,
    'card': #424242
  ),
  // Add more themes as needed
  'ocean': (
    'background': #2a4d69,
    'text': #fbfbfb,
    'card': #4b86b4
  ),
  'sunset': (
    'background': #ff9e9d,
    'text': #5a2328,
    'card': #ff7473
  )
);

// Iterate through each theme to create classes
@each $theme, $colors in $themes {
  .theme-#{$theme} {
    --bg-color: map-get($colors, 'background');
    --text-color: map-get($colors, 'text');
    --card-bg: map-get($colors, 'card');
  }
}

body {
  margin: 40px;
  background: #ddd;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.card, .modal {
  background-color: var(--card-bg);
}


.btn {
  @apply
    bg-amber-600
    py-2 px-3 my-2
    inline-block
    text-white
    rounded-md
    border-2
    border-amber-600;
}


/* global.css or equivalent */
@media (max-width: 549px) {
  .grid-cols-1-550px {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

// Define your colors
$colors: #FFC0CB, #FFF200, #98FF98, #A1CAF1, #E6E6FA;

.banner-text {
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 1;
  display: inline-block; // Centers the inline elements within the text-center div

  .word {
    margin: 0 0.3em; // Adds spacing between words

    // Style each letter with nth color from your color scheme
    span {
      &:nth-child(1) { color: nth($colors, 1); }
      &:nth-child(2) { color: nth($colors, 2); }
      &:nth-child(3) { color: nth($colors, 3); }
      &:nth-child(4) { color: nth($colors, 4); }
      &:nth-child(5) { color: nth($colors, 5); }
    }
  }
}
